.title {
  font-size: 40px;
}
.unvizible {
  display: none;
}
.btnNewUser {
  width: 300px;
  height: 50px;
  background-color: rgb(19, 15, 235);
  border-radius: 10px;
  color: azure;
  margin-right: 50px;
}
.btnUser {
  width: 300px;
  height: 50px;
  background-color: rgb(15, 235, 15);
  border-radius: 10px;
  color: rgb(11, 11, 15);
}
.user {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  margin-top: 100px;
}
